@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Bai Jamjuree", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.landing-page__mask .mask {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.combined {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: -70% auto 0%;
}

.combined img {
  height: 100%;
  width: 100%;
}

p {
  text-align: center;
  width: 80%;
  margin: 10%;
  color: #9eabb2;
  font-size: 1em;
}

.bold {
  font-weight: 700;
  font-size: 1.5em;
  color: black;
}

.download-buttons {
  width: 80%;
  margin: 10%;
}

.download-buttons button {
  width: 100%;
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 10px 20px 0px #00000019;
  box-shadow: 0px -3px 0px 0px #00000027 inset;
  color: white;
}

button:nth-child(1) {
  background-color: #26bba4;
}

button:nth-child(2) {
  background: #6174ff;
}

.screens {
  width: 80%;
  margin: 10%;
}

.screens img {
  width: 100%;
  height: 100%;
}

.bold.primary {
  font-size: 1.2em;
}

.article {
  width: 20%;
  margin: 0% 40% 0%;
  display: flex;
  justify-content: center;
}

.brand__logos {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: auto;
  gap: 25px;
}

.brand__logos img {
  width: 30%;
  margin: auto;
}

.combined-small {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.footer {
  margin: 1em auto 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer p {
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: #4c545c;
}

@media only screen and (min-width: 1024px) {
  .combined {
    width: 60%;
    margin: -80% auto 2%;
  }
  .history-copy {
    margin-bottom: 0%;
    max-width: 55%;
    text-align: center;
    margin: auto;
  }
  .download-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2%;
    justify-content: center;
  }
  .download-buttons button {
    width: 30%;
  }
  .combined img {
    width: 20%;
  }
  .history-text {
    margin-top: 0%;
    margin-bottom: 1em;
  }
  .history-copy {
    margin-top: 0%;
  }

  p {
    margin-bottom: 0;
    margin-top: 0%;
  }

  .track-copy {
    width: 60%;
    margin: 2% auto;
  }

  .desktop-side {
    display: flex;
    align-items: center;
    height: 500px;
    gap: 2rem;
  }

  .desktop-side .screens {
    margin: auto;
    width: 50%;
    margin: 0;
  }
  .desktop-side_txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
  }
  .desktop-side_txt p {
    text-align: left;
    margin: 0;
    margin-left: 2%;
  }
  .articles {
    display: flex;
  }
  .screens {
    width: 60%;
    margin: 1rem auto 0;
  }
  .brand__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .brand__logos div {
    width: 20%;
  }
  .brand__logos img {
    width: 100%;
  }
}
